<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :truck_id %>
    <%= form.text_field :truck_id, id: :trip_truck_id %>
  </div>

  <div class="field">
    <%= form.label :shipment_id %>
    <%= form.text_field :shipment_id, id: :trip_shipment_id %>
  </div>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.number_field :driver_id, id: :trip_driver_id %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :trip_number %>
  </div>

  <div class="field">
    <%= form.label :loading_port_id %>
    <%= form.number_field :loading_port_id, id: :trip_loading_port_id %>
  </div>

  <div class="field">
    <%= form.label :offloading_site %>
    <%= form.text_field :offloading_site, id: :trip_offloading_site %>
  </div>

  <div class="field">
    <%= form.label :onloaded_at %>
    <%= form.datetime_select :onloaded_at, id: :trip_onloaded_at %>
  </div>

  <div class="field">
    <%= form.label :offloaded_at %>
    <%= form.text_field :offloaded_at, id: :trip_offloaded_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
