
<%= simple_form_for(@port) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="f.-inputs">
  <%= f.input :name, id: :port_name %>
  <%= f.input :country, as: :text %>

  <br>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  <% end %>

</div>

<br>
<br>

