<h1>Shipping Lines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_lines.each do |shipping_line| %>
      <tr>
        <td><%= shipping_line.name %></td>
        <td><%= link_to 'Show', shipping_line %></td>
        <td><%= link_to 'Edit', edit_shipping_line_path(shipping_line) %></td>
        <td><%= link_to 'Destroy', shipping_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Line', new_shipping_line_path %>
