
<%= simple_form_for(@container) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="controls form-inputs">
  <div class="row">
    <div class="col-sm-4"> <%= f.input :number %> </div>
    <div class="col-sm-4"> <%= f.input :docs_rcd, as: :datetime, html5: true  %> </div>
    <div class="col-sm-4"> <%= f.association :customer  %>  </div>
    <div class="col-sm-4"> <%= f.input :shipper %> </div>
    <div class="col-sm-4"> <%= f.input :port_of_loading_id, collection: Port.all  %>  </div>
    <div class="col-sm-4"> <%= f.association :truck %>  </div>
    <div class="col-sm-4"> <%= f.association :driver %>  </div>
    <div class="col-sm-4"> <%= f.input :commodity %> </div>
    <div class="col-sm-4"> <%= f.input :bill_of_ladding_number %>  </div>
    <div class="col-sm-4"> <%= f.input :service %>  </div>
    <div class="col-sm-4"> <%= f.input :size %> </div>
    <div class="col-sm-4"> <%= f.input :gross_weight_kgs %> </div>
    <div class="col-sm-4"> <%= f.association :shipping_line -%>         </div>
    <div class="col-sm-4"> <%= f.input :eta_dar, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :vessel_berthe_date, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :vessel_discharge_date, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :loading_at_dar, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :departed_dar_at, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :truck_position %> </div>
    <div class="col-sm-4"> <%= f.input :eta_border, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :etd_border, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :offloading_site %> </div>
    <div class="col-sm-4"> <%= f.input :eta_site, html5: true %> </div>
    <div class="col-sm-4"> <%= f.input :offloaded_at, label: "Offloading time:", html5: true %> </div>
    <div class="col-sm-12"> <%= f.input :remark %> </div>
  </div>

  <br>
  <div class="form-actions"> <%= f.button "submit", class: "btn btn-primary" %> </div>
  <% end %>
  <br>
