
<%= simple_form_for(@container) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :number %>
  <%= f.association :driver %>
  <%= f.input :docs_rcd, as: :datetime, html5: true  %>
  <%= f.input :shipper %>
  <%= f.input :port_of_loading_id, collection: Port.all  %>
  <%= f.input :commodity %>
  <%= f.input :bill_of_ladding_number %>
  <%= f.input :service %>
  <%= f.input :size %>
  <%= f.input :gross_weight_kgs %>
  <%= f.association :shipping_line -%>
  <%= f.input :eta_dar, html5: true %>
  <%= f.input :vessel_berthe_date, html5: true %>
  <%= f.input :vessel_discharge_date, html5: true %>
  <%= f.input :loading_at_dar, html5: true %>
  <%= f.association :truck %>
  <%= f.input :truck_position %>
  <%= f.input :eta_border, html5: true %>
  <%= f.input :etd_border, html5: true %>
  <%= f.input :offloading_site %>
  <%= f.input :eta_site, html5: true %>
  <%= f.input :offloaded %>
  <%= f.input :remark %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>


<br>
<br>
