
<div class="container">

  <h3> Shipment information </h3>  

  <p>
    <strong>Number:</strong>
    <%= @container.number %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= @container.driver.name %>
  </p>

  <p>
    <strong>Docs rcd:</strong>
    <%= @container.docs_rcd %>
  </p>

  <p>
    <strong>Shipper:</strong>
    <%= @container.shipper %>
  </p>

  <p>
    <strong>Port of loading:</strong>
    <%= @container.port_of_loading.name %>
  </p>

  <p>
    <strong>Commodity:</strong>
    <%= @container.commodity %>
  </p>

  <p>
    <strong>Bill of ladding number:</strong>
    <%= @container.bill_of_ladding_number %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= @container.service %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= @container.size %>
  </p>

  <p>
    <strong>Gross weight kgs:</strong>
    <%= @container.gross_weight_kgs %>
  </p>

  <!-- "%d/%m/%Y %H:%M" -->

  <p>
    <strong>Line:</strong>
    <%= @container.shipping_line.name %>
  </p>

  <p>
    <strong>ETA dar:</strong>
    <%= @container.eta_dar %>
  </p>

  <p>
    <strong>Vessel berthe date:</strong>
    <%= @container.vessel_berthe_date %>
  </p>

  <p>
    <strong>Vessel discharge date:</strong>
    <%= @container.vessel_discharge_date %>
  </p>

  <p>
    <strong>Loading at dar:</strong>
    <%= @container.loading_at_dar %>
  </p>

  <p>
    <strong>Departure from DAR:</strong>
    <%= @container&.departed_dar_at %>
  </p>

  <p>
    <strong>Truck number:</strong>
    <%= @container.truck.unique_number %>
  </p>

  <p>
    <strong>Truck position:</strong>
    <%= @container.truck_position %>
  </p>

  <p>
    <strong>ETA border:</strong>
    <%= @container.eta_border %>
  </p>

  <p>
    <strong>ETD border:</strong>
    <%= @container.etd_border %>
  </p>

  <p>
    <strong>Offloading site:</strong>
    <%= @container.offloading_site %>
  </p>

  <p>
    <strong>ETA site:</strong>
    <%= @container.eta_site %>
  </p>

  <p>
    <strong>Offloaded:</strong>
    <%= @container.offloaded_at %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= @container.remark %>
  </p>

  <%= link_to 'Edit', edit_container_path(@container) %> |
  <%= link_to 'Back', containers_path %>

</div>