<p id="notice"><%= notice %></p>

<h1>Trip Containers</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th>Container number</th>
      <th>Container height</th>
      <th>Container weight</th>
      <th>Container length</th>
      <th>Container gross weight</th>
      <th>Container net weight</th>
      <th>Container tare</th>
      <th>Container commodity</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_containers.each do |trip_container| %>
      <tr>
        <td><%= trip_container.trip %></td>
        <td><%= trip_container.container_number %></td>
        <td><%= trip_container.container_height %></td>
        <td><%= trip_container.container_weight %></td>
        <td><%= trip_container.container_length %></td>
        <td><%= trip_container.container_gross_weight %></td>
        <td><%= trip_container.container_net_weight %></td>
        <td><%= trip_container.container_tare %></td>
        <td><%= trip_container.container_commodity %></td>
        <td><%= trip_container.customer %></td>
        <td><%= link_to 'Show', trip_container %></td>
        <td><%= link_to 'Edit', edit_trip_container_path(trip_container) %></td>
        <td><%= link_to 'Destroy', trip_container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip Container', new_trip_container_path %>
