<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @trip_update.trip %>
</p>

<p>
  <strong>Location details:</strong>
  <%= @trip_update.location_details %>
</p>

<p>
  <strong>Eta border:</strong>
  <%= @trip_update.eta_border %>
</p>

<p>
  <strong>Eta site:</strong>
  <%= @trip_update.eta_site %>
</p>

<p>
  <strong>Updated by user:</strong>
  <%= @trip_update.updated_by_user_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @trip_update.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @trip_update.longitude %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trip_update.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @trip_update.province %>
</p>

<p>
  <strong>District:</strong>
  <%= @trip_update.district %>
</p>

<%= link_to 'Edit', edit_trip_update_path(@trip_update) %> |
<%= link_to 'Back', trip_updates_path %>
