<%#= form_with(model: shipment, local: true) do |form| %>
<%= simple_form_for(@shipment, local: true) do |form| %>

<%= -%>
<% if shipment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

  <ul>
    <% shipment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="">
  <%= form.input :number, id: :shipment_number %>
  <%= form.input :documents_received_at %>
  <%= form.input :vessel_name %>
  <%= form.input :shipping_line_id, collection: ShippingLine.all -%>
  <%= form.input :loading_port_id, collection: Port.all -%>
  <%= form.input :offloading_port_id, collection: Port.all -%>
  <%= form.input :eta_to_offloading_port %>
  <%= form.input :bearthed_at %>
  <%= form.input :discharged_at %>
  <%= form.input :shipper_name %>
  <%= form.input :remarks %>

<div class="actions">
  <%= form.button "submit", "Submit" %>
</div>
<% end %>


<br>