<p>
  <strong>Number:</strong>
  <%= @shipment.number %>
</p>

<p>
  <strong>Documents received at:</strong>
  <%= @shipment.documents_received_at %>
</p>

<p>
  <strong>Vessel:</strong>
  <%= @shipment.vessel.name %>
</p>

<p>
  <strong>Shipping line:</strong>
  <%= @shipment.shipping_line.name %>
</p>

<p>
  <strong>Loading port:</strong>
  <%= "#{@shipment.loading_port.name}, #{@shipment.loading_port.country}" %>
</p>

<p>
  <strong>Offloading port:</strong>
  <%= "#{@shipment.offloading_port.name}, #{@shipment.offloading_port.country}" %>
</p>

<p>
  <strong>Eta to offloading port:</strong>
  <%= @shipment.eta_to_offloading_port %>
</p>

<p>
  <strong>Bearthed at:</strong>
  <%= @shipment.bearthed_at.getlocal %>
</p>

<p>
  <strong>Discharged at:</strong>
  <%= @shipment.discharged_at %>
</p>

<p>
  <strong>Shipper name:</strong>
  <%= @shipment.shipper_name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @shipment.remarks %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
