<!DOCTYPE html>
<html>
<head>
  <title>CargoTracker</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 

   <!-- Alerts notification -->
   <% if alert%>
   <article class="message is-danger">
    <div class="message-body">
      <p class=" has-text-centered"><%= alert %></p>
    </div>
  </article>
  <% end %>

  <!-- Notices notification -->
  <% if notice %>
  <article class="message is-success">
    <div class="message-body">
      <p class="notice has-text-centered"><%= notice %></p>
    </div>
  </article>
  <% end %>


 
 <%= yield %>
</body>
</html>
